* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100vh;
  background: #530000;
  /* cursor: url(./assets/cursor\ \(1\).png), auto; */
}
h1{
  font-size: 45px;
  color: #fff;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.card-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(131, 131, 131, 0.5);
    padding: 5px;
    margin-top: 5px;
    margin: auto;
    height: 420px;
    cursor: url(./assets/cursor\ \(1\).png) 16 16, auto;  
    border-radius: 5px;
}

.card{
    height: 400px;
    width: 50px;
    background-color: black;
    border-radius: 6px;
    border: 1px solid rgb(131, 131, 131);
    flex: 1;
    overflow: hidden;
    cursor: url(./assets/cursor\ \(1\).png) 32 32, auto;
    transition: flex 0.5s ease;
}

.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; 
}


.card:hover {
  flex: 4;
}
